* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #D2DBDC;
  font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}
.app-window {
  display: flex;
  height: 100vh;
  background-color: #EDEDED;
}

.sidebar {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #DDD;
  width: 35%;
  max-width: 435px;
}

.contentarea {
  width: 100%;
  background-color: rgb(238, 238, 212);
}